<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login </title>
    <link rel="shortcut icon" type="image/icon" href="images/logo.jpg"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    
    <div class="row imagebanner">
	<!--<div class="imagebanner">
		<img src="../images/bg.png" alt="">
	</div>-->
		<div class="col-lg-12" style="
    background-color: beige;
">
			<div id="content">
			<form ng-submit="submit()" class="form-group">
				<div class="text-center logindiv">
				<table  align="center" cellpadding="200px">
                    <caption class="tb1"style="
    margin-left: 165px;
">Login</caption>
           
				<tr>
				<td>
				<label for="username">Username:</label></td>
				<td><input type="email" name="username" ng-model="email" id="username" placeholder="Username" class="form-control"></td>
				</tr>
				<tr>
					<td><label for="password">Password:</label></td>
					<td><input type="password" name="password" ng-model="pwd" id="password" placeholder="Password" class="form-control"></td>
				</tr>
				
				<tr>
					<td rowspan="2"><br/>
						<button class="btn btn-default btn-success">Submit</button>
					</td>
				</tr>
				</table>
				</div>
			</form>
			</div>
		</div>
</div>
</body>
</html>
