<h1>Mobiles on Sale!</h1>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody ng-repeat="mobile in result.data">
            <tr ng-show="mobile.quantity>0">
                <td><img ng-src='{{mobile.image}}'></td>
                <td>{{mobile.name}}</td>
                <td>{{mobile.price| currency}}</td>
                <td>{{mobile.Description}}</td>
                <td>
                    <input ng-model="quantity" type="number" ng-init="quantity=0" placeholder="Quantity" min="0" max="{{mobile.quantity}}">
                </td>
                <td>
                    <button class="btn btn-success" ng-click="totalPrice(mobile.price*quantity)">Add to Cart</button>
                </td>
            </tr>


        </tbody>

    </table>

</div>
