<div id="banner">
       <img src="images/banner_bg.jpg" alt="banner">
   </div>
    <main class="mainpart">
         <article style="
    margin-top: -20px;
">
			<!--<h1 class="abc1">REGISTER</h1>-->
			<hr>
			<div class="abc">
			<form ng-submit="submit()" class="form-group">
				<div class="text-center logindiv">
				<table  align="center" cellpadding="200px">
                  <h1 class="abc1">REGISTER</h1>
                   <!-- <caption class="tb1"style="
    margin-left:112px;
">Register</caption>-->
            <tr>
				<td>
				<label for="username"> First Name</label></td>
				<td><input type="email" name="username" ng-model="email" id="username" placeholder="FirstName" class="form-control"></td>
				</tr>
				<tr>
				<td>
				<label for="username">Last Name</label></td>
				<td><input type="email" name="username" ng-model="email" id="username" placeholder="LastName" class="form-control"></td>
				</tr>
				<tr>
				<td>
				<label for="username">Username</label></td>
				<td><input type="email" name="username" ng-model="email" id="username" placeholder="UserName" class="form-control"></td>
				</tr>
				<tr>
					<td><label for="password">Password</label></td>
					<td><input type="password" name="password" ng-model="pwd" id="password" placeholder="Password" class="form-control"></td>
				</tr>
				<tr>
					<td><label for="password"> Confirm Password &nbsp;</label></td>
					<td><input type="password" name="password" ng-model="pwd" id="password" placeholder="Confirm Password" class="form-control"></td>
				</tr>
				<tr>
				<td class="gen"> <input type="radio" name="gender" value="male" checked> Male &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="female"> Female&nbsp;&nbsp;&nbsp;&nbsp;

  				</td>
                   <tr class="dob"> 
                   <td>  
                  <!-- DOB <input id="meeting" type="date" value="DOB"/> -->
    </td>
</tr>
				</table>
				<td><br>
				<span>
				<p class="tnc">By clicking Sign Up, you agree to our Terms and that you have read our Data Policy, including our Cookie Use. You may receive SMS Notifications from MyCart and can opt out at any time.</p></span>
				</td>
				<tr>
					<td rowspan="2"><br/>
						<button class="btn btn-default btn-success">SignUP</button>
					</td>
					
					
				</tr>
				</div>
			</form>
</div>
            
		</article>
    </main>
    

    
  